//antialiased,subpixel-antialiased,none
$font-smoothing: antialiased;

//auto,optimizeSpeed,optimizeLegibility,geometricPrecision
$text-rendering: auto;

$base-font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
$base-font-size: 14px;
$base-font-color: #606060;
$base-background-color: #fff;

$site-size: 1115px + 60;

// colors
$color-primary: #606060;
$color-secondary: #333;
$color-white: #fff;
$color-skyblue: #87ddff;
$color-lightgray: #a0a0a0;

// easing / animation
$duration: .25s;
$easing: ease-in-out;
$delay: .35s;