.l-404 {
  margin-top: 100px;
  padding: 130px 0 90px;

  @include max-screen($breakpoint-mobile) {
    margin-top: 35px;
    padding-bottom: 0;
  }
}

.l-404__inner {

}

.l-404__articles {
  padding: 65px 185px 0;

  @include max-screen($breakpoint-mobile) {
    padding-left: 0;
    padding-right: 0;
    padding-top: 35px;
  }
}