.l-archive {
  margin-bottom: 120px;
}

.l-archive__inner {
  display: flex;
}

.l-archive__articles {
  width: 900px;
  margin-top: 13px;

  .articles {
    width: 93%;
  }
}

.l-archive__sidebar {
  margin: 10px 0 34px;
}