.l-contact {
  text-align: center;

  margin-top: 130px;
  padding: 38px 0 20px;

  @include max-screen($breakpoint-mobile) {
    margin-top: 55px;
    padding: 28px 0 30px;
  }
}

.l-contact__inner {

}