.l-index {

}

.l-index__inner {
  display: flex;

  margin-top: 23px;
}

.l-index__featured, .l-index__articles {
  width: 900px;
}

.l-index__articles {
  margin-top: 13px;
  margin-bottom: 77px;
}

.l-index__ads {
  text-align: center;

  background-color: $color-lightgray;

  width: 295px;
  height: 755px;
  margin-left: 5px;

  font-size: 24px;
  color: $color-white;
  line-height: 510px;
}

.l-index__notice {
  margin: 15px auto 0;
}