.l-index {

}

.l-index__inner {
  display: flex;

  margin-top: 23px;
}

.l-index__featured, .l-index__articles {
  width: 900px;
}

.l-index__articles {
  margin-top: 13px;
  margin-bottom: 77px;

  .articles {
    width: 93%;
  }
}

.l-index__sidebar {
  margin-top: 34px;
}

.l-index__notice {
  margin: 15px auto 0;
}