.l-index {
  margin-top: 140px;

  @include max-screen($breakpoint-mobile) {
    margin-top: 65px;
  }
}

.l-index__inner {
  display: flex;

  margin-top: 23px;

  @include max-screen($breakpoint-mobile) {
    display: block;
  }
}

.l-index__featured, .l-index__articles {
  width: 900px;

  @include max-screen($breakpoint-mobile) {
    width: 100%;
  }
}

.l-index__articles {
  margin-top: 13px;
  margin-bottom: 77px;

  @include max-screen($breakpoint-mobile) {
    margin-top: 50px;
    margin-bottom: 45px;
  }

  .articles {
    width: 93%;

    @include max-screen($breakpoint-mobile) {
      width: 100%;
    }
  }
}

.l-index__about {
  display: block;

  width: 295px;

  @include max-screen($breakpoint-mobile) {
    display: none;
  }

  img {
     width: 295px;
  }
}

.l-index__sidebar {
  margin: 34px 0;
}

.l-index__notice {
  margin: 45px auto 0;

  @include max-screen($breakpoint-mobile) {
    margin-top: 35px;
  }
}