.advertisement {
  display: block;
  text-align: center;

  background-color: $color-lightgray;

  width: 295px;
  height: 755px;
  margin-bottom: 45px;
  margin-left: 5px;

  font-size: 24px;
  color: $color-white;
  line-height: 510px;
}