.article-block {
  display: flex;
  position: relative;

  color: $color-primary;

  &:hover {
    .article-block__image {
      transform: scale(1.2);
    }
  }

  // MODIFIER
  &.article-block--featured {
    display: block;

    .article-block__image-wrapper, .article-block__image {
      width: 420px;
      height: 250px;
    }
    .article-block__details {
      margin-top: 7px;
      margin-left: 0;
    }
    .article-block__category {
      margin-top: 10px;

      letter-spacing: -0.08em;
    }
    .article-block__title {
      width: 420px;

      font-size: 26px;
      letter-spacing: 0.01em;
    }
    .article-block__date, .article-block__author {
      margin-top: 4px;

      font-size: 14px;
    }
  }
  &.article-block--related {
    display: block;

    .article-block__image-wrapper, .article-block__image {
      width: 227px;
      height: 135px;
    }
    .article-block__details {
      width: 267px;
      margin-top: 10px;
      margin-left: 0;
    }
    .article-block__title {
      font-size: 20px;
      letter-spacing: 0.01em;
      line-height: 1.3;
    }
  }
}

.article-block__image-wrapper {
  overflow: hidden;

  width: 225px;
  height: 135px;

  flex: none;
}

.article-block__image {
  overflow: hidden;

  background-size: cover;

  height: 135px;

  transition: transform $duration $easing;
}

.article-block__details {
  margin-left: 10px;
}

.article-block__category {
  display: inline-block;

  font-size: 12px;
  color: $color-linkblue;
  letter-spacing: -0.05em;

  text-transform: uppercase;
}

.article-block__date, .article-block__author {
  display: inline-block;

  margin-top: 8px;

  font-size: 18px;
}

.article-block__date {
  border-right: 1px solid $color-secondary;

  padding-right: 8px;

  color: $color-secondary;
  line-height: 1.1;
}

.article-block__title {
  font-size: 24px;
  color: $color-darkgray;
  letter-spacing: 0.035em;
  line-height: 1.1;

  word-break: break-word;
}

.article-block__author {
  margin-left: 5px;

  color: $color-linkblue;
}