.articles {
  
}

.articles__title {
  margin-bottom: 20px;

  font-family: $font-avenir-black;
  font-size: 33px;
  color: $color-secondary;

  @include max-screen($breakpoint-mobile) {
    margin-bottom: 11px;

    font-size: 16px;
  }

  // MODIFIER
  &.articles__title--uppercase {
    text-transform: uppercase;
  }
}

.articles__list {
  list-style-type: none;

  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
  @include max-screen($breakpoint-mobile) {
    display: block;
  }
}

.articles__list-item {
  border-bottom: 1px solid $color-bordergray;

  width: 100%;
  margin-bottom: 21px;
  padding-bottom: 21px;
  
  // MODIFIER
  &.articles__list-item--featured {
    border-bottom: none;

    width: 50%;
    margin-bottom: 25px;
    padding-bottom: 0;

    @include max-screen($breakpoint-mobile) {
      width: 100%;
      margin-bottom: 15px;
    }
  }
}

.articles__list-item-link {
  display: block;
}

.articles__more {
  text-align: center;

  margin-top: 20px;
}

.articles__more-button {
  display: inline-block;
  text-align: center;

  background-color: $color-darkgray;

  width: 170px;
  padding: 8px 0;

  color: $color-white;
  font-weight: bold;
  letter-spacing: 0.05em;

  transition: background-color $duration $easing;

  @include max-screen($breakpoint-mobile) {
    width: 110px;
    padding: 7px 0 5px;

    font-size: 11px;
  }

  &:hover {
    background-color: $color-lightgray;
  }
}