.footer {
  background-color: $color-linkblue;

  padding: 15px 0;

  @include max-screen($breakpoint-mobile) {
    padding-bottom: 5px;
  }
}

.footer__inner {
  display: flex;

  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer__break {
  height: 0;

  flex-basis: 100%;
  @include max-screen($breakpoint-mobile) {
    display: none;
  }
}

.footer__logo {
  @include max-screen($breakpoint-mobile) {
    text-align: center;

    order: 1;
    flex-basis: 100%;
  }
  img {
    width: 155px;

    @include max-screen($breakpoint-mobile) {
      width: 100px;
    }
  }
}

.footer__notice {
  @include max-screen($breakpoint-mobile) {
    margin: -7px auto 12px;

    order: 0;
  }
}

.footer__notice-text {
  display: inline-block;

  margin-right: 10px;

  font-family: $font-avenir-roman;
  font-size: 16px;
  color: $color-skyblue;

  @include max-screen($breakpoint-mobile) {
    font-size: 11px;
  }
}

.footer__notice-button {
  border: 1px solid $color-skyblue;

  width: 165px;
  padding: 7px 20px;

  color: $color-skyblue;

  transition: color $duration $easing,
              border-color $duration $easing;

  @include max-screen($breakpoint-mobile) {
    width: 88px;
    padding: 4px 10px;

    font-size: 11px;
  }

  &:hover {
    border-color: $color-white;

    color: $color-white;
  }
}

.footer__sns {
  list-style: none;

  display: flex;

  margin-top: 10px;

  justify-content: space-between;
  @include max-screen($breakpoint-mobile) {
    order: 2;
    flex-basis: 100%;
    justify-content: center;
  }
}

.footer__sns-item {
  margin: 0 5px;

  @include max-screen($breakpoint-mobile) {
    font-size: 12px;
  }

  &:first-child {
    margin-left: 0;
  }
}

.footer__sns-link {
  display: inline-block;
  text-align: center;

  padding: 8px 18px;

  font-family: $font-lato-bold;
  color: $color-white;

  transition: opacity $duration $easing;

  &:hover {
    opacity: .8;
  }

  .icon {
    margin-right: 4px;
  }

  // MODIFIER
  &.footer__sns-link--facebook {
    background-color: $color-facebook;
  }
  &.footer__sns-link--twitter {
    background-color: $color-twitter;

    .icon-twitter {
      vertical-align: -1px;
    }
  }
}

.footer__links {
  list-style: none;

  display: flex;

  margin: 30px auto 20px;

  justify-content: space-between;
  @include max-screen($breakpoint-mobile) {
    margin: 10px auto;

    order: 3;
    flex-basis: 100%;
    justify-content: center;
  }
}

.footer__links-item {
  margin: 0 30px;

  @include max-screen($breakpoint-mobile) {
    margin: 0 12px;
  }

  &:first-child {
    margin-left: 0;
  }

  a {
    font-size: 17px;
    color: $color-skyblue;

    transition: color $duration $easing;

    @include max-screen($breakpoint-mobile) {
      font-size: 11px;
    }

    &:hover {
      color: $color-white;
    }
  }
}

.footer__copyright {
  margin: 0 auto;

  font-size: 17px;
  color: $color-secondary;

  @include max-screen($breakpoint-mobile) {
    font-size: 11px;

    order: 4;
  }
}
