.header {

}

.header__top {
  background: linear-gradient(to right, rgba(3,52,216,1) 0%, rgba(0,113,188,1) 100%);

  padding: 14px 0;

  color: $color-skyblue;
}

.header__top-inner {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.header__top-logo {
  display: inline-block;

  margin-right: 17px;

  img {
    width: 155px;
  }
}

.header__top-description {
  display: inline-block;
  position: relative;
  top: 5px;

  font-size: 18px;
  letter-spacing: -0.03em;
}

.header__top-right {
  justify-content: end;
}

.header__top-button {
  border: 1px solid $color-skyblue;

  width: 165px;
  padding: 7px 20px;

  color: $color-skyblue;
  font-weight: bold;

  transition: color $duration $easing,
              border-color $duration $easing;

  &:hover {
    border-color: $color-white;

    color: $color-white;
  }
}

.header__bottom {
  border-bottom: 1px solid $color-bordergray;

  padding: 9px 0 5px;
}