.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;

  background-color: $color-white;

  width: 100%;
  height: 100vh;

  z-index: 12;
  transition: opacity 2s $easing;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 350px;
    height: 200px;

    transform: translate(-50%, -50%);
    animation-name: flip;
    animation-duration: 1.5s;

    transform-style: preserve-3d;
    animation-iteration-count: 6;
    @include max-screen($breakpoint-mobile) {
      width: 225px;
      height: 150px;
    }

    .path {
      display: none;
    }
  }

  &.is-hidden {
    opacity: 0;
    transition: opacity $duration $easing;
    pointer-events: none;
  }

  &.is-fadeout {
    opacity: 0;
    transition: opacity $duration 2s $easing;
    pointer-events: none;
  }
}

@keyframes trace {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes traceFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes flip {
  to {
    transform: translate(-50%, -50%) rotateX(360deg);
  }
}

// IE FIX
.ie {
  .loader {
    display: none;
  }
}
