.menu {
  
  
}

.menu__search {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  width: 100vw;
  margin-left: -4vw;
  padding: 10px 17px;
}

.menu__search-input {
  outline: none;

  width: 90%;

  font-size: 16px;
  color: $color-white;

  &::placeholder {
    color: rgba(255, 255, 255, 0.3);
  }
}

.menu__search-icon {
  position: relative;
  top: 0px;
  left: -2px;

  color: rgba(255, 255, 255, 0.3);
}

.menu__list {
  margin-top: 30px;
}

.menu__list-item {
  padding: 5px 0;
}

.menu__list-item-link {
  display: block;

  font-size: 20px;
  color: $color-white;
}