.nav {
  
}

.nav__list {
  display: flex;
}

.nav__list-item {

  &:first-child {
    .nav__list-item-link {
      padding-left: 0;
    }
  }
  
  &:not(:last-child) {
    display: block;
    position: relative;

    &:after {
      content: '';

      display: block;
      position: absolute;
      top: 2px;
      right: 0;

      background-color: $color-primary;

      width: 1px;
      height: 15px;
    }
  }

  &:first-child {
    a {
      font-weight: bold;
    }
  }
}

.nav__list-item-link {
  padding: 0 8px;

  font-size: 14px;
  color: $color-primary;
  letter-spacing: -0.02em;

  &:hover {
    font-weight: bold;
  }
}