.nav {
  
}

.nav__list {
  display: flex;
}

.nav__list-item {
  
  &:not(:last-child) {
    display: block;

    border-right: 1px solid $color-primary;
  }

  &:first-child {
    a {
      font-weight: bold;
    }
  }
}

.nav__list-item-link {
  padding: 0 10px;

  font-size: 12px;
  color: $color-primary;

  &:hover {
    font-weight: bold;
  }
}