.notice {
  text-align: center;

  border-top: 1px solid $color-lightgray;
  border-bottom: 1px solid $color-lightgray;

  padding: 17px 0 11px;

  @include max-screen($breakpoint-mobile) {
    padding-top: 7px;
  }
}

.notice__text {
  display: inline-block;

  font-family: $font-avenir-roman;
  font-size: 19px;
  letter-spacing: -0.005em;

  @include max-screen($breakpoint-mobile) {
    display: block;

    font-size: 12px;
  }
}

.notice__button {
  display: inline-block;
  position: relative;
  top: -2px;

  border: 1px solid $color-white;
  background-color: $color-linkblue;

  width: 130px;
  margin-left: 24px;
  padding: 5px 20px;

  color: $color-white;
  font-weight: bold;

  transition: background-color $duration $easing,
              color $duration $easing,
              border-color $duration $easing;

  @include max-screen($breakpoint-mobile) {
    width: 110px;
    margin-top: 3px;
    margin-left: 0;
    padding: 7px 20px 4px;

    font-size: 11px;
  }

  &:hover {
    border-color: $color-linkblue;
    background-color: $color-white;

    color: $color-linkblue;
  }
}