.single-body {

  h2 {
    margin: 28px 0 15px 17px;

    font-family: $font-avenir-roman;
    font-size: 36px;
    color: $color-secondary;
    font-weight: normal;

    @include max-screen($breakpoint-mobile) {
      margin: 10px 0 5px 12px;

      font-size: 20px;
    }

    &:before {
      content: '';

      display: inline-block;
      position: relative;
      top: 6px;
      left: -20px;

      background-color: $color-linkblue;

      width: 6px;
      height: 36px;

      @include max-screen($breakpoint-mobile) {
        top: 3px;
        left: -11px;

        width: 3px;
        height: 18px;
      }
    }
  }

  h3 {
    margin-bottom: 15px;

    font-family: $font-avenir-black;
    font-size: 18px;
    color: $color-secondary;

    text-transform: uppercase;

    @include max-screen($breakpoint-mobile) {
      margin-bottom: 9px;

      font-size: 15px;
    }
  }

  h4 {
    margin-bottom: 15px;

    font-size: 24px;
    color: $color-secondary;
    letter-spacing: 0.007em;

    @include max-screen($breakpoint-mobile) {
      margin-bottom: 9px;

      font-size: 17px;
    }
  }

  p {
    text-align: justify;

    margin-bottom: 15px;

    font-size: 19px;
    color: $color-black;
    letter-spacing: -0.007em;
    line-height: 1.4;

    @include max-screen($breakpoint-mobile) {
      margin-bottom: 5px;

      font-size: 14px;
      line-height: 1.45;
    }
  }

  p {
    + h3, + h4 {
      margin-top: 20px;

      @include max-screen($breakpoint-mobile) {
        margin-top: 14px;
      }
    }
  }

  blockquote {
    width: 520px;
    margin: 53px auto 68px;

    font-size: 24px;
    color: $color-black;
    letter-spacing: 0.015em;
    line-height: 1.2;

    @include max-screen($breakpoint-mobile) {
      width: 100%;
      margin: 30px 0;
      padding: 0 20px;

      font-size: 15px;
    }
  }

  ul {
    list-style-type: none;

    margin: 25px 0 16px 60px;

    @include max-screen($breakpoint-mobile) {
      margin: 19px 0 10px 20px;
    }

    li {
      font-size: 21px;
      color: $color-secondary;
      line-height: .45;

      @include max-screen($breakpoint-mobile) {
        font-size: 14px;
      }

      &:before {
        content: "·";

        vertical-align: middle;

        font-size: 65px;

        @include max-screen($breakpoint-mobile) {
          position: relative;
          top: 2px;
          left: -2px;

          font-size: 45px;
        }
      }
    }
  }

  ol {
    margin: 25px 0 0 60px;

    @include max-screen($breakpoint-mobile) {
      margin: 11px 0 16px 10px;
    }

    li {
      margin-left: 26px;

      font-size: 21px;
      color: $color-secondary;

      @include max-screen($breakpoint-mobile) {
        left: -2px;

        font-size: 14px;
        line-height: 1.45;
      }
    }
  }

  iframe {
    display: block;

    width: 100%;
    max-width: 100% !important;
    height: 430px;
    margin: 66px auto 57px;

    @include max-screen($breakpoint-mobile) {
      height: 195px;
      margin: 19px auto 41px;
    }
  }

  table {
    margin: 0 auto;

    tr {

    }

    td {
      text-align: center;

      border: 1px solid $color-secondary;

      padding: 7px 51px;

      font-size: 16px;
      color: $color-secondary;

      @include max-screen($breakpoint-mobile) {
        padding: 3px 25px;

        font-size: 14px;
      }
    }
  }
}