.single-body {

  h2 {
    margin: 28px 0 15px 17px;

    font-family: $font-avenir-roman;
    font-size: 36px;
    color: $color-secondary;
    font-weight: normal;

    &:before {
      content: '';

      display: inline-block;
      position: relative;
      top: 6px;
      left: -20px;

      background-color: $color-linkblue;

      width: 6px;
      height: 36px;
    }
  }

  h3 {
    margin-bottom: 15px;

    font-family: $font-avenir-black;
    font-size: 18px;
    color: $color-secondary;

    text-transform: uppercase;
  }

  h4 {
    margin-bottom: 15px;

    font-size: 24px;
    color: $color-secondary;
    letter-spacing: 0.007em;
  }

  p {
    text-align: justify;

    margin-bottom: 15px;

    font-size: 19px;
    color: $color-black;
    letter-spacing: -0.007em;
    line-height: 1.4;
  }

  p {
    + h3, + h4 {
      margin-top: 20px;
    }
  }

  blockquote {
    width: 520px;
    margin: 53px auto 68px;

    font-size: 24px;
    color: $color-black;
    letter-spacing: 0.015em;
    line-height: 1.2;
  }

  ul {
    list-style-type: none;

    margin: 25px 0 16px 60px;

    li {
      font-size: 21px;
      color: $color-secondary;
      line-height: .45;

      &:before {
        content: "·";

        vertical-align: middle;

        font-size: 65px;
      }
    }
  }

  ol {
    margin: 25px 0 0 60px;

    li {
      margin-left: 26px;

      font-size: 21px;
      color: $color-secondary;
    }
  }

  iframe {
    display: block;

    width: 100%;
    max-width: 100% !important;
    height: 430px;
    margin: 66px auto 57px;
  }

  table {
    margin: 0 auto;

    tr {

    }

    td {
      text-align: center;

      border: 1px solid $color-secondary;

      padding: 7px 51px;

      font-size: 16px;
      color: $color-secondary;
    }
  }
}