.tags {
  list-style: none;

  display: flex;

  margin: 15px 0 55px;
  margin-left: -5px;

  flex-wrap: wrap;
  @include max-screen($breakpoint-mobile) {
    margin-bottom: 40px;

    justify-content: center;
  }
}

.tags-item {
  margin: 0 4px 10px;
}